<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.config.MemberMapper">
    <insert id="signUp" parameterType="MemberDTO">
        insert into member (member_id, password, name, email)
        values (#{memberId}, #{password}, #{name}, #{email})
    </insert>

    <select id="findAll" resultType="MemberDTO">
        select * from member
    </select>
</mapper>